{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<meta charset = "utf-8">
		<title>Our Family</title>
		<meta name="home page" content="">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'main.css' %}">
		
		<style>
		body{
		background-image:url('{% static "famfun.jpg"%}');
		
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-width: 100%;
  		height: 500px;
  		align: center;
		}
		</style>
		</head>
	<body>

	
		{% block content %}
		{% endblock content %}	</body>
</html>